h1{
	font-family: cursive;
	text-align: center;
}
p{
	font-family: 'Fjalla One', sans-serif; 
}
#top{
border: 4px solid blue;
width: 15%;
margin:auto;
}
#bottom{
border: 4px solid red;
width: auto;
padding: 200px;
text-align: center;
}